.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,30px);
    gap: 10px;
    background-color:  rgb(0, 162, 227);
    padding: 10px 10px 10px 10px;
    width: 320px;
}
.one{
    grid-row-start: 1;
    grid-row-end: 3;
}
.two,.one{
    background-color: white;
    border: 2px solid black;
    text-align: center; 
    padding-top: 5px;  
}